.megaMenuHome-container {
  visibility: hidden;
  position: absolute;
  top: 4.25rem;
  left: 0;
  right: 0;
  padding: 3.25rem;
  opacity: 0;
  background-color: var(--clr-white);
  z-index: 5;
  transition: all 500ms ease;
}

.megaMenuHome-content {
  display: flex;
  justify-content: center;
  gap: 4.5rem;
}

.megaMenuHome-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.megaMenuHome-item {
  padding: 0.2rem;
  color: var(--clr-very-dark-gray);
}

.megaMenuHome-item:hover,
.megaMenuHome-item:focus-within {
  background-color: var(--clr-light-gray);
}

.megaMenuHome-cards {
  display: flex;
  gap: 1.5rem;
}

.megaMenuHome-card {
  display: flex;
  width: 160px;
  flex-direction: column;
  align-items: center;
}

.megaMenuHome-card-img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 1rem;
}

.megaMenuHome-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  color: var(--clr-black-900);
  border-bottom: 1px solid var(--clr-black-900);
}

.megaMenuHome-link img {
  width: 16px;
  height: 16px;
}