.home-services-container {
  margin: 3rem 0;
}

.home-services-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .home-services-content {
    justify-content: center;
  }
}