.shopping-cart {
  display: flex;
}

.shopping-cart>img {
  margin-right: 0.25rem;
}

.shopping-cart p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart p>img {
  width: 24px;
  height: 24px;
}

.shopping-cart p span {
  margin-left: -50%;
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
}