.logo {
  text-align: left;
  font-size: var(--fs-24);
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 768px) {
  .logo {
    font-size: var(--fs-16);
    margin-right: auto;
  }
}