.payment-icon-container {
  display: flex;
  align-self: flex-end;
  gap: 0.5rem;
  margin-left: auto;
}

.payment-icon-container img {
  width: 48px;
  height: 32px;
}

@media(max-width: 995px) {
  .payment-icon-container {
    width: 100%;
    justify-content: center;
  }
}