.header-container {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 1rem 10rem;
  color: var(--clr-black-900);
}

.nav-hamburger-container {
  display: none;
}

@media (max-width: 1275px) {
  .header-content {
    padding: 1rem 5rem;
  }
}

@media (max-width: 1024px) {
  .header-content {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .nav-hamburger-container {
    display: block;
    width: 24px;
    height: 24px;
  }
}